<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.mapper.UserMapper">
    <resultMap id="selectAllUsers" type="User">
        select * from t_user
        <association property=""></association>
    </resultMap>
    <insert id="addUser" parameterType="User">
        insert into t_user (name, class_id) values (#{name}, #{classId})
    </insert>
    <delete id="deleteUser">
        delete from t_user where id=#{id}
    </delete>
    <update id="updateUser">
        update t_user
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="classId != null">
                class_id=#{classId}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>